<tr style="background-image: url('/images/front/jeux-de-voiture_bar_bottom.jpg')">
  <td height="74" colspan="4">
    <div align="center"></div>
  </td>
</tr>
<tr style="background-image: url('/images/front/jeux-de-moto_background_footer.jpg')">
  <td height="93" colspan="4">
    <div align="center">
      <strong>
        <font size="3" face="Arial, Helvetica, sans-serif" color="#FFFFFF">
          <a href="#" title="Jeux de Voiture et de Moto" style="text-decoration: none">
            <font color="#ffffff">Jeux de Voiture et de Moto</font>
          </a>
          .com,
          quel est votre type de
          <a target="_blank" title="jeu" style="text-decoration: none;" href="https://web.archive.org/web/20180807230813/http://jeu.info/">
            <font color="#ffffff">jeu</font>
          </a>
          gratuit préféré
          ? les
          <a title="jeux de Voiture" style="text-decoration: none;" href="https://web.archive.org/web/20180807230813/http://jeuxdevoitureetdemoto.com/">
            <font color="#ffffff">jeux de Voiture</font>
          </a>
          ou
          les
          <a href="#" style="text-decoration: none" title="jeux de Moto">
            <font color="#ffffff">jeux de Moto</font>
          </a>
          ? A vous de jouer ;)
        </font>
      </strong>
    </div>
  </td>
</tr>
</tbody>
</table>