<table width="1240" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td colspan="2">
      <a href="/" title="Jeux de Voiture et de Moto">
        <img src="/images/front/jeux-de-voiture.jpg" alt="Jeux de Voiture et de Moto" width="733" height="134" border="0">
      </a>
    </td>
    <td height="134" colspan="2" style="background-image: url('/images/front/jeux-de-voiture_search.jpg')">
      <div align="center" style="margin-top: 20px">
        <form action="#" method="GET">
          <input type="text" name="q" onfocus="if(this.value=='Nom du jeu recherché...')this.value='';this.style.color='#000000';" size="23" id="recherche" value="Nom du jeu recherché..." maxlength="60">
          <input type="submit" id="submit" value="Rechercher">
        </form>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="4" width="1240" height="238" style="background-image: url('/images/front/jeux-de-voiture_background.jpg')">
      <div style="margin-left: 370px; margin-top: 70px">
        <table width="416" border="0">
          <tbody>
          <tr>
            <td width="180">
              <center>
                <strong>
                  <font size="2" face="Arial, Helvetica, sans-serif" color="#262219">
                    Parties de Moto
                    <br>
                  </font>
                  <div id="nbparties"></div>
                </strong>
              </center>
            </td>
            <td width="56">&nbsp;</td>
            <td width="180">
              <center>
                <strong>
                  <font size="2" face="Arial, Helvetica, sans-serif" color="#262219">
                    Parties de Voiture
                    <br>
                  </font>
                  <a href="#" title="165 000 parties jouées aux jeux de voiture">
                    <font size="5" face="Arial, Helvetica, sans-serif" color="#C61212">165 000</font>
                  </a>
                </strong>
              </center>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>