<div class="header">
  <div class="logo">
    <a href="/">
      <img alt="Coloriage de Winx" src="/images/front/logo.png">
    </a>
  </div>
  <div class="search">
    <div class="block-search">
      <h2>Recherche un coloriage</h2>
      <div class="search-form">
        <form accept-charset="UTF-8" action="/fr" class="google-cse" id="search-block-form" method="POST">
          <div>
            <div class="container-inline">
              <div class="form-item form-type-textfield form-item-search-block-form">
                <input class="form-text" id="edit-search-block-form--2"
                       maxlength="128" name="search_block_form" size="15"
                       style="background: url(&quot;https://www.google.com/cse/intl/fr/images/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);"
                       title="Enter the terms you wish to search for." type="text"
                       value="">
              </div>
              <div class="form-actions form-wrapper" id="edit-actions">
                <input class="form-submit" id="edit-submit" name="op" type="submit"
                       value="Recherche">
              </div>
              <input name="form_build_id" type="hidden"
                     value="form-ThzTxGDV0qFTwWXO7pN1kXnJ-vC_l4wqTHLo1Y8Tg3w">
              <input name="form_id" type="hidden" value="search_block_form">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>