.page-link {
  border: none;
  background: #e6e6e6;
  padding: 9px 15px;
  color: #384c6d;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}