<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Coloriage de Winx Club à imprimer sur coloriagewinx.fr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Links Lib CSS -->
  <%= stylesheet_link_tag 'template', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Links Lib JS -->
</head>

<body class="html front">
<%= yield %>
</body>
</html>
